# **SELAMAT DATANG DI NOTEBOOK PYTHON BASIC FOR DATA MINING**

## **Tips**
*   Untuk menjalankan kode kalian bisa klik tombol `RUN` pada cell yang tersedia.
*   Atau, kalian bisa tekan `Shift+Enter` untuk menjalankan cell.

# **Hello World!**

Seperti biasanya, dalam bahasa pemrograman pasti dibuka dengan Hello World! Mari kita coba. Ketikkan : `"Halo, dunia!"`

# **A. ATURAN PENULISAN PYTHON**
## **1. Python Menggunakan Indentasi/Blok**

Indentasi ini bisa menggunakan **tab** atau **spasi**. Perbedaan indentasi menyebabkan *error*. Sebagai contoh ketikkan kode berikut : *ketiikan secara berurut ya*
*   `a = 5`
*   [beri 1 tab] `b = 2`
* c = `a+b`
* [beri 1 tab] `c`

Maka akan menampilkan error yaitu **unexpected indent**

## **2. Pernyataan dalam Python tidak diakhiri dengan tanda titik koma (;)**

Cobalah ketikkan kodingan berikut :
```print('kelas kl');```

lalu cobalah hilangkan tanda titik koma (;) - nya dan coba jalankan.

## **3. Pernyataan dalam Python dinyatakan pada satu baris. Jadi akhir dari sebuah pernyataan adalah baris baru**

Coba ketikkan kode berikut : *ketikkan satu persatu ya ikuti alurnya*
1.   ```panjang = 5```
2.   ```lebar = 2```
3. ```luas = panjang*lebar```
4. ```luas```

## **4. Jika pernyataan yang panjangnya terdiri lebih dari 1 baris maka dapat dilakukan dengan menggunakan tanda ```backslash (\)```**

Coba ketikkan kode berikut : *ketikkan satu persatu ya, ikuti alurnya*

*   `panjang = 6`
*   `lebar = 2`
*   `tinggi = 1`
*   ```volume = panjang*lebar*\```
*   ```tinggi```

## **5. Sebagai penanda string Python menggunakan tanda kutip, baik tunggal (‘), ganda (‘’). Nah, tanda kutip 3 (‘’’) digunakan untuk string multibaris**

Ketikkan kode berikut ini, satu persatu ya! :)
*   `nama_depan = 'ketik deh namamu'`
*   `nama_belakang = "ketik deh namamu"`
* `biodata = '''Saya tinggal di Bogor Kota. Menyukai kopi dan tentunya code. Namun desain adalah jiwaku'''`

## **6. Bersifat Case Sensitive**
Artinya huruf besar dan kecil akan mempengaruhi fungsi/perilaku. Contoh : `print` dengan `Print` tentunya memiliki hasil output yang berbeda.

## **7. Komentar**
Untuk menyisipkan komentar gunakan `#` . Misal :
`# ini komentar`

# **B. TIPE DATA**

## **1. Karakter**
Biasanya menggunakan tanda petik satu ('') atau petik dua (""). Bisakah kamu ketikan namamu? Taruh dalam variabel `nama` ya.

## **2. Numerik (Bilangan Bulat) / Integer**
Ketikkan : 
*   `a = 21`
*   `print('umurku adalah',a)`

## **3. Float / Desimal / Punya Koma**
Ketikkan :
*   `b = 21.5`
*   `print('harga rumah adalah',b)`

## **4. Heksadesimal**
Menyatakan bilangan basis 16. Menggunakan fungsi `hex()`. Coba ketikkan kode berikut :


*   `a = 122`
*   `print('122 ke basis 16 adalah:', hex(a))`

## **5. List**

Ini tipe data yang immutable (dapat diubah elemennya). Untuk mendeklarasikan list kita gunakan kurung siku `[]`. Ketikkan kode berikut :


*   `# ini adalah list kosong`
*   `x = []`

List dapat menampung berbagai macam tipe data didalamnya. Sebagai contoh ketik kode berikut :

*   `x = ['Rio','Sendy','Bayu','12','2.75']`
*   `x`

Untuk menghapus **Rio** kita bisa gunakan perintah `del`. Ingat untuk indeks dalam Python dimualai  dari 0. Ketik kode berikut :

*   `del x[0]` 
*   `print(x)`

['Sendy', 'Bayu', '12', '2.75']

### **Slicing Pada List**

*   x[0] artinya mengambil elemen paling awal, dengan index 0 dari List x.
*   x[5] artinya mengambil elemen dengan index 5 dari List x.
* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.
* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).
* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).
* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.
* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

Misalnya : 


*   `mahasiswa = ['fahmi','rafelino','lingga', 'sarah', 'sandy']`
*   `print(mahasiswa)`

## **8. Tuple**

*Tuple* itu tipe data yg bisa menampung elemen dengan banyak tipe data. Tapi kebalikan dari list yaitu **immutable** artinya (elemennya tdk dapat diubah). Tuple di deklarasikan dengan tanda` {}`. Misalnya ketikkan kode berikut :

* `mahasiswa = {'Agung', 'Angga', 'Siti', 'Dedy', 'Rado'}`
* `mahasiswa`

# **C. PERCABANGAN**
Percabangan dalam `Python` adalah if, elif (else if), dan else.
## **1. IF**

Pernyataan suatu kondisi jika ... 
Ketikkan kode berikut :


*   `a = 5`
*   `b = 2`
*   `if a > b:`
*   [beri 1 tab] `print("a lebih besar dari b")`

## **2. IF .. ELSE**

Suatu kondisi jika x kalau tidak y. Ketikkan kode berikut :


*   `tabungan = 1100`
*`jajan = 1000`
*    `makan = 500`
* `minum = 100`
* `jajan = jajan - makan + minum`
*  `if jajan > 600:`
* [beri 1 tab] `print("duit aman")`
* `elif tabungan > 500:`
* [beri 1 tab] `print("Masih aman gan")`

## **Referensi**
*   Modul Praktikum Teknik Simulasi dan Data Mining 2020

## **Belajar Lebih Dasar Python** [PythonIndo](https://www.pythonindo.com/tutorial-python-dasar/)